@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.push-tab {
    margin-left: 15rem;
  }
  
  
  
  /* SideBar */
  
  
  
  .sidemenu {
    display: block;
    background-color:  #003380;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  
  
  
  
  
  .budy {
    display: flex;
    justify-content: space-between;
  }
  
  .sidemenu .logo img {
    width: 50%;
    margin-left: 8rem;
    margin-top: 3rem;
  }
  
  
  .bar {
    margin-top: 8rem;
  }
  
  
  
  .dash, .active {
    display: flex;
    margin-left: 2rem;
    margin-top: 2%;
    text-align: left;
    font-size: 1.5rem;
    padding: 1.5rem ;
    
  }
  
  .active {
    background-color: #0044AA;
  }
  
  
  .dash a, .active a{
    text-decoration: none;
    color: #fff;
    margin-top: 0.4rem;
    margin-left: 0.7rem;
  }
  
  .dash i {
    color: #fff;
  }
  
  
  
  .dash:hover, .uber:hover {
    background-color: #0044AA;
  }
  
  
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  color: #fff;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .uber {
    background-color: #0044AA;
  }
  
  
  .uber {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-left: 1rem;
      margin-top: 4rem;
      padding: 0.5rem 0.6rem;
      color: #fff;
      overflow: hidden;
  }
  
  .ub  {
   margin-top: 0.8rem;
  }
  
  .ub i {
    position: absolute;
    margin-left: 1.8rem;
    margin-top: 1.4rem;
    z-index: 90;
    color: #04802E;
    font-size: 6px;
    border: 1px solid #fff;
    border-radius: 0.5rem;
  }
  
  .txt-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2rem;
    color: #fff;
    font-size: 1.3rem;
  }
  
  
  .txt-area h4 {
    margin-top: 0.2rem;
    color: #fff;
  }
  
  
  
  .txt-area p {
    margin-top: 0.8rem;
    color: #ffffff98;
  }
  
  .ic {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .ic  {
    color: #fff;
  }
  
  
  
  
  /* Ham Menu */
  
  .show {display: block, !important;}
  
  
  .push-tab {
    margin-left: 15rem;
  }
  
  .me, .closebtn {
    display: none;
  }
  
  .ham, .menu {
    display: none;
  }
  
  .sidebar {
    display: none;
  }
  
  .side-content {
    display:none;
  }
  
  
  /*Sidebar End*/

/* Mid Content*/

.upp {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

.btt  {
    color: #fff;
    background-color: #EA6813;
    border: none;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0.7rem 0.2rem;
    cursor: pointer;
    transition: 0.2s;
}

.btt i {
    margin-right: 0.5rem;
}

.btt:hover{
    background-color: #ED813A;
}

#map {
    height: 400px;
    width: 99.3%;
    margin-top: 3%;
}

.right {
    margin-left: 295px; 
    font-size: 1.6rem; 
    padding: 20px 10px;
    font-weight: 400;
}

/* Table */

.tab {
    display: block;
    justify-content: center;
}



table {
    border: 0;
    width: 99.5%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    margin-top: 1rem;
    font-family: "Montserrat";
}
table thead {
    background: #F7F7F7;
    height: 10px !important;
}
table thead tr th {
    padding: 1px 40px;
}
table thead tr th {
    text-transform: uppercase;
    line-height: 40px !important;
    text-align: center;
    font-size: 11px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  
}
table tbody {
    background: #F7F7F7;
}
table tbody tr {
    border-top: 6px solid #fff;
}

table tbody tr td {
    height: 40px;
    line-height: 10px !important;
    text-align: center;
    font-size: 12px;
}




td img {
    width: 1.5rem;
    height: 1.2rem;
    border-radius: 0.1rem;
    margin-right: 1rem;
}


.sec {
    background-color: #F4B389;
}


.sec td a {
    background-color: #fff;
    color: #EA6813;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    border: 1px solid #EA6813;
}

td a {
    background-color: #EA6813;
    color: #fff;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    border: 1px solid #EA6813;
}

td a i {
    margin-left: 0.8rem;
}


td a:hover{
    background-color: #ED813A;
}


.sec td a:hover {
    background-color: #EA6813;
    color: #fff;
    
}


.tra span {
    background-color: #fff;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
}





/*
@media only screen and (max-width: 768px) {
 
    body {
        overflow-x: hidden;
    }

    .sidebar {
        display: none; 
    }
    .right {
        width: 100%; 
        margin-left: 0; 
        margin-top: 5rem;
        padding: 3rem;
    }
    .top {
        flex-direction: column; 
        align-items: center;
    }
    .btt-n {
        margin-top: 10px; 
    }
    .tab {
        overflow-x: auto; 
    }
}

@media only screen and (max-width: 480px) {
    
    .grey {
        padding: 10px;
    }


} */



@media only screen and (max-width: 768px), (max-width: 912px), (max-width: 820px), (max-width: 1000px)  {
    
  body {
      overflow-x: hidden;
  }
  .sidebar {
      display: block;
  }
  .right {
      width: 100%;
      margin-left: 0;
      margin-top: 5rem;
      padding: 3rem;
  }
  .top {
      flex-direction: column; 
      align-items: center; 
  }
  .btt-n {
      margin-top: 10px; 
  }
  .tab {
      overflow-x: auto;
  }

 
td a {
  padding: 0.1rem 0.2rem;
}



.sec td a {
  padding: 0.1rem 0.3rem;
}

.togg {
  position: fixed;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.1rem  1rem;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
  bottom: 28rem;
  left: 1rem;
  z-index: 1000;
}

}

@media only screen and (max-width: 480px) {
  
  .grey {
      padding: 10px;
  }
}






  body.light-theme body {
    background-color: #e6e6e6;
    color: #333;
  }
  
  body.dark-theme {
    background-color: #333;
    color: #f5f5f5;
  }
 

 
  body.dark-theme table tr{
    background-color: #000000; 
    color: #f5f5f5; 
  }

  body.dark-theme .tra span {
    background-color: #fff;
    color: #000;
  }
  
  



.togg {
    position: fixed;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0.1rem  1rem;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 1px 0 #000;
    bottom: 28rem;
    left: 1rem;
    z-index: 1000;
}