@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
*, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
}

/*Header*/

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3rem;
}
.logo img {
   max-width: 12rem;
}

/*Navbar*/

.menu .logo {
    display: none;
}




.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.2rem;
}



.nav-a {
    display: flex;
    margin: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50rem;
    padding: auto;
    min-width: fit-content;
}

.nav-a a {
   
  margin: 0.1rem;  
  color: #161515;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0.8rem;
  z-index: 1;
  transition: 0.5ms;

}



.nav-a .active  {
    text-decoration: none;
    color: #fff;
    background-color: #EA6813;
}

.nav-a a:hover {
    color: #fff;
    background-color: #EA6813;
    transition: 0.5ms;
}

.nav-a a.arrow {
    background-color: #EA6813;  
}

/*Nav Buttons*/

.logs {
    display: flex;
    margin-right: 13rem ;
}


.menu .logs {
    display: none;
}


.logs div {
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}


.login a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    color: #EA6813;
    border: 0.2em solid #EA6813;
    padding: 0.2rem 0.8rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;  
    border-radius: 0.25rem;
}

.login a:hover{
    color: #fff;
    background-color: #ED813A;
    transition: 0.5ms;
}


.reg a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #EA6813;
    border: 0.1rem solid #EA6813;
    border-radius: 0.25rem;
    padding: 0.42rem 0.6rem;
    animation: alternate-reverse;
    transition: 0.5s;
}


.reg:hover{
    color: #fff;
    background-color: #ED813A;
    transform: scale(0.98);
}


.naija {
    display: flex;
    font-size: 1.4rem;
}

.naija p {
    margin-top: 0.4rem;
    color: #000;
    font-family: "Montserrat";
}

.gbl {
    margin-right: 0.5rem;
    margin-top: 0.4rem;
}

.dropbtn {
    margin: 0.1rem;  
    color: #161515;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    padding: 0.6rem 0.8rem;
    border: none;
    cursor: pointer;
    margin: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    float: left;
    transition: 0.5ms;
  }

  .dropbtn:focus {
    content: "&#xe313";

  }


  .dropbtn i {
    margin-left: 0.5rem;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #EA6813;
    color: #fff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 19rem;
    overflow: auto;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2.5rem;
    margin-left: 1rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0.5rem;
    text-align: left;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
    color: #333;
}
  
  .show {display: block;}


  .bar1, .bar2, .bar3{
    width: 100%;
    height: 0.5vh;
    background-color: #fff;
    transition: 0.4s;
    padding: auto;
}



.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}

  .change .bar2 {
    opacity: 0;}

  .change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}



/*Header Ending*/









/*Header Ending*/

.hero {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.493);
    background-image: url('https://i.postimg.cc/Jnj5WmsD/new.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-blend-mode: darken;
    height: 90vh;
    padding: 2rem;
}

/* Login Card */

.dep {
    align-items: center;
    padding: 1rem;
    margin-top: -10em;
    
}

.crd {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.cards {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0.2rem 0.3rem #00000046;
    padding-right: 1.7rem;
}


.fle img{
    width: 20%;
}


.card {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
}

.image {
    background-image: url("https://i.postimg.cc/Hxm5P8Q2/Login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.219);
    height: 110vh;
    width: 25rem;
    padding: 2rem;
}


.regi {
    text-align: center;
    padding: 2rem;
}


.regi a {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: inherit;
    margin-top: 3rem;
    text-decoration: none;
    padding: 2rem;
}

.regi a h2 {
    text-decoration: none;
}

.regi a i {
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 0.1rem;
    text-decoration: none;
}

.regi a i:hover {
    font-size: 19.5px;
    color: #aaa;
}


.fle img {
    width: 30%;   
    margin-left: 34rem;
    margin-top: 3rem;
}

.pah {
    text-align: center;
    padding: 2rem;
}

.pah p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: auto;
    margin-top: 15rem;
}


.lap {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem
}



.form .lap {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    margin-top: 10rem;

}


.form div {
    margin: 0.9rem;
}

.two label, .two input{
     margin-left: 0.6rem;
     margin-top: 0.6rem;
}



.two input {
    width: 100%;
}


input {
    padding: 0.6em 3em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1.2rem;
    padding: 0.7rem;
}

input:focus {
    border: 1px solid #fff;
    color: #000;
    border: 0.1rem solid #666;
}


.sub input{
    align-content: center;
    text-align: center;
    margin-left: 0.7rem;
}


input[type=submit] {
    color: #fffb ;
    background-color: #EA6813;
    width: 100%; 
    font-size: 1.4rem;
    margin-top: 8%;
    border: none;
    padding: 0.7rem;
}

input[type=submit]:hover {
    background-color: #ED813A;
}

.tct {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.txt {
    color: #ED813A;
}








/*Footer Section*/

/*footer*/

footer {
    background-color: #000;
    display: block;
    justify-content: center;
    height: 100vh;
}

div.logos img{ 
    width: 10%;
    margin-left: 10rem;
    margin-top: 40px;
}

.ftr-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;

}


ul {
    list-style: none;
    
}

.icons {
    margin-top: 40px;
}

.lft h4, .mid-ft h4, .rt-ft h4 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.rt-ft a {
    margin-left: 1rem;
}

.rt-ft i {
    color: #fff;
}



.lft li, .mid-ft li, .rt-ft li {
    color: #fff;
    border-bottom: 1px solid #ffffff1f;
    

}

.lft a, .mid-ft a, .rt-ft a {
    color: #ffffffc2;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    transition: 0.2s;
    animation: 0.2s;
    cursor: pointer;
    
}

.lft a:hover, .mid-ft a:hover, .rt-ft a:hover {
    color: #ffffff59;
}

/* ICONS */
.icons {
    margin-top: -0.1em;
    color: #fff;
}
.icons a {
    margin: 3px;
    display: inline-table;
    margin-top: 1rem;
}
#face{
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
}


#face:hover {
    color: #fff;
    transform: scale(1.5);
}


#twt {
    font-size: 17px;
    color: #fff;
    text-decoration: none; 
    position: relative;
    top: 2px;
    transition: 2ms;
    animation: alternate-reverse;
    
}

#twt:hover {
    color: #1980e0;
    transform: scale(1.5);
}

.icons h4 {
    font-family: "Montserrat", sans-serif;
}

.fab {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    position: relative;
	top: 0.3rem;
}

.fab {
    width: 17px;
    height: 18px;
    background: linear-gradient(45deg, #ffdc80, #fcaf45, #f77737, #f56040, #fd1d1d,  #e1306c, #c13584, #833ab4, #405de6, #5851db,  #405de6);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a svg {
    position: absolute;
    margin-top: -0.9em;
}


a svg:hover {
    transform: scale(1.5);
}


.fa-facebook {
    background: #3B5998;
    padding: 3px 5px;
    border-radius: 3px;
  }

  /* INPUT FIELD */

.end {
    display: flex;
    justify-content: space-between;
}


.nig {
    display: flex;
    color: #fff;
    margin-left: 5rem;
    margin-top: 4rem;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}




.glb {
    margin-right: 0.5rem;
   margin-top: -0.1em;
}



.inpt {
    color: #fff;
    margin-top: 1em;
    margin-right: 3%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 20;
}

footer input[type=email] {
    padding: 0.6em 3em;
    box-sizing: border-box;
    background-color: #000;
    border: 1px solid #666;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #fff;
    font-size: 0.8rem;
   margin-top: 0.9rem;
}


input[type=email]:focus {
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
}

input:hover {
    
    background-color: #aaa;
}


 

.send button{
    color: #fff;
    background-color: #EA6813;
    padding: 9px 15px;
    border: 1px solid #EA6813;
   border-radius: 0.2rem;
   margin-left: 0.2rem;
}

.send button:hover {
    background-color: #C35710;
}



.copy {
    text-align: center;
    color: #f0f0f0;
    padding: 0.6rem 0;
    margin-top: 5rem;
}


.copy p {
    margin: 0;
    font-size: 14px;
}



/* Footer End */








/*Theme Settings */


/* Light Theme */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.cards.light-theme {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 3px #00000046;
    border: 1px solid #000;
}

/* Dark Theme */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
    border: 2px solid #fff;
}


.dark-theme .cards {
    background-color: #000;
}

.dark-theme .fle img {
    background-image: url("https://i.postimg.cc/XN27PSZh/Fleet-Logo.png");
    background-repeat: no-repeat;
}

.togg {
    position: fixed;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0.1rem  1rem;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 1px 0 #000;
    bottom: 5rem;
    left: 1rem;
}




