@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}


/*Header*/

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  text-align: center;
  max-width: 100%;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3rem;
}
.logo img {
 max-width: 7rem;
}

/*Navbar*/


.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.2rem;
}



.nav-a {
  display: flex;
  margin: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50rem;
  padding: auto;
  min-width: fit-content;
}

.nav-a a {
 
margin: 0.1rem;  
color: #161515;
background-color: #fff;
font-family: "Montserrat", sans-serif;
font-size: 1.4rem;
text-decoration: none;
text-align: center;
padding: 0.6rem 0.8rem;
z-index: 1;
transition: 0.5ms;

}



.nav-a .active  {
  text-decoration: none;
  color: #fff;
  background-color: #EA6813;
}

.nav-a a:hover {
  color: #fff;
  background-color: #EA6813;
  transition: 0.5ms;
}


.nav-a a:hover {
  color: #fff;
  background-color: #EA6813;
}

.nav-a a.arrow {
  background-color: #EA6813;  
}

/*Nav Buttons*/

.logs {
  display: flex;
}



.logs div {
  margin: 0.4rem;
  margin-top: auto;
  margin-bottom: auto;
}


.login a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  color: #EA6813;
  border: 0.2em solid #EA6813;
  padding: 0.3rem 0.8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;  
  border-radius: 0.25rem;
}

.login a:hover{
  color: #fff;
  background-color: #ED813A;
}


.reg a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #EA6813;
  border: 0.1rem solid #EA6813;
  border-radius: 0.25rem;
  padding: 0.42rem 0.6rem;
  animation: alternate-reverse;
  transition: 0.5s;
}


.reg:hover{
  color: #fff;
  background-color: #ED813A;
  transform: scale(0.98);
}



.naija {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.naija p {
  margin-top: 0.5rem;
}

.gbl {
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.dropbtn {
  margin: 0.1rem;  
  color: #161515;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0.8rem;
  border: none;
  cursor: pointer;
  margin: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  float: left;
}


.dropbtn i {
  margin-left: 0.5rem;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #EA6813;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0.5rem;
  text-align: left;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}









/*Header Ending*/

.try {
    
    background-image: url("https://i.postimg.cc/1zQB05sn/Warehousing-hero-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

  .land-writing{
    color: #FFFFFF;
    font-size: 2rem;
    word-spacing: 2px;
    padding-top: 20rem;
    padding-left: 15rem;
}


  .btn3{ 
    font-weight: bold;
    color: #ffffff;
    background-color: #ea6813;
    border-radius: 3px;
    padding: 1.5rem 2rem;
    border: none;
    font-size: 1.3rem;
  }
  .btn3:hover{
    background-color: white;
    font-size: 1.3rem;
    border: .1rem solid #ea6813;
    color: #ea6813;
}
  .loit{
    display: flex;
    padding-top: 3pc;
    justify-content: center;
    align-self: center;
    align-content: center;
    
    }
    .ere{
        margin-top:3pc ;
        margin-left: 5pc;
    }
    .ere h2{
font-size: 1.7rem;
    }
    .ere p{
font-size: 1.7rem;
    }
    div .image12{
        padding-right: 1pc;
    }
    .hjuy{
        display: flex;
        padding-top: 5pc;
    justify-content: center;
     align-self: center;
    align-content: center; 

    font-size: 1.3rem;
    }
  
   
    .werfg{
        margin-top: 3pc;
        margin-right: 5pc;
    }
    .werfg h2{
      font-size: 1.7rem;
      
    }
    .werfg p{
      font-size: 1.7rem;
      
    }
    .fg{
        padding-right: pc;
        
    }
    .yrfuty{
        display: flex;
        padding-top: 5pc;
        padding-bottom: 2pc;
        justify-content: center;
         align-self: center;
        align-content: center; 
        font-size: 1.3rem;
    }
    .djffj{
        margin-top: 2.5pc;
        margin-left: 5pc;  
    }
    .djffj h2{
      font-size: 1.7rem;
    }
    .djffj p{
      font-size: 1.7rem;
    }


  
/*Footer Section*/

/*footer*/

footer {
  background-color: #000;
  display: block;
  justify-content: center;
  height: 100vh;
}

div.logos img{ 
  width: 10%;
  margin-left: 10rem;
  margin-top: 40px;
}

.ftr-content {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;

}


ul {
  list-style: none;
  
}

.icons {
  margin-top: 40px;
}

.lft h4, .mid-ft h4, .rt-ft h4 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.rt-ft a {
  margin-left: 1rem;
}

.rt-ft i {
  color: #fff;
}



.lft li, .mid-ft li, .rt-ft li {
  color: #fff;
  border-bottom: 1px solid #ffffff1f;
  

}

.lft a, .mid-ft a, .rt-ft a {
  color: #ffffffc2;
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 0.8rem;
  line-height: 3rem;
  transition: 0.2s;
  animation: 0.2s;
  cursor: pointer;
  
}

.lft a:hover, .mid-ft a:hover, .rt-ft a:hover {
  color: #ffffff59;
}

/* ICONS */
.icons {
  margin-top: -0.1em;
  color: #fff;
}
.icons a {
  margin: 3px;
  display: inline-table;
  margin-top: 1rem;
}
#face{
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}


#face:hover {
  color: #fff;
  transform: scale(1.5);
}


#twt {
  font-size: 17px;
  color: #fff;
  text-decoration: none; 
  position: relative;
  top: 2px;
  transition: 2ms;
  animation: alternate-reverse;
  
}

#twt:hover {
  color: #1980e0;
  transform: scale(1.5);
}

.icons h4 {
  font-family: "Montserrat", sans-serif;
}

.fab {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  position: relative;
top: 0.3rem;
}

.fab {
  width: 17px;
  height: 18px;
  background: linear-gradient(45deg, #ffdc80, #fcaf45, #f77737, #f56040, #fd1d1d,  #e1306c, #c13584, #833ab4, #405de6, #5851db,  #405de6);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a svg {
  position: absolute;
  margin-top: -0.9em;
}


a svg:hover {
  transform: scale(1.5);
}


.fa-facebook {
  background: #3B5998;
  padding: 3px 5px;
  border-radius: 3px;
}

/* INPUT FIELD */

.end {
  display: flex;
  justify-content: space-between;
}


.nig {
  display: flex;
  color: #fff;
  margin-left: 5rem;
  margin-top: 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}




.glb {
  margin-right: 0.5rem;
 margin-top: -0.1em;
}



.inpt {
  color: #fff;
  margin-top: 1em;
  margin-right: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 20;
}

footer input[type=email] {
  padding: 0.6em 3em;
  box-sizing: border-box;
  background-color: #000;
  border: 1px solid #666;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #fff;
  font-size: 0.8rem;
 margin-top: 0.9rem;
}


input[type=email]:focus {
  border: 1px solid #fff;
  color: #000;
  background-color: #fff;
}

input:hover {
  
  background-color: #aaa;
}




.send button{
  color: #fff;
  background-color: #EA6813;
  padding: 9px 15px;
  border: 1px solid #EA6813;
 border-radius: 0.2rem;
 margin-left: 0.2rem;
}

.send button:hover {
  background-color: #C35710;
}



.copy {
  text-align: center;
  color: #f0f0f0;
  padding: 0.6rem 0;
  margin-top: 5rem;
}


.copy p {
  margin: 0;
  font-size: 14px;
}



/* Footer End */








@media screen and (max-width: 767px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .dropdown {
      position: static;
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  
    .dropdown-content {
      display: none;
      position: static;
      background-color: transparent;
      box-shadow: none;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  
    .dropdown-content a {
      display: block;
      padding: 10px;
      color: #000;
      text-decoration: none;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    div.logs {
      margin-top: .3rem;
    }
  
    .naija {
      display: none;
    }
  
    .imag {
      height: auto;
    }
  
    .try {
      text-align: center;
   
    }
  .land-writing{
    padding-top: 23rem;
    padding-left: 1rem;
  }
    .land-writing h2 {
      font-size: 2.5rem;
    }
  
    .land-writing p {
      font-size: 1.7rem;
    }
  
    .btn3,.btn3:hover {
      font-size: 1.2rem;
      padding: 1.1rem 1.4rem;
    }
  
    .image12 {
      width: 100%;
      height: auto;
      margin-top: 1.2rem;
    }
  
    .ere {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-right: 2rem;
      margin-top: 1rem;
    }

    .hjuy img{
      order: 1;
      margin-top: 3rem;
    }
    .werfg{
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 5rem;
    }
    .loit,.hjuy,
    .yrfuty {
      display: block;
    }
  
    .werfg,
    .djffj {
      text-align: center;
      margin-top: 2rem;
      margin-right: 5rem;
    }
  
    .fg {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  
    
  }
  
  /* Media query for screens smaller than 480px */
  @media screen and (max-width: 480px) {
    .land-writing h2 {
      font-size: 24px;
    }
  
    .land-writing p {
      font-size: 0.8rem;
    }
  
    .btn3 {
      font-size: 0.8rem;
    }
  
   
    .ere p {
      font-size: 1rem;
    }



  }



  /* Footer */

  
@media only screen and (max-width: 768px) {

  footer {
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 2rem;
      margin-top: 4rem;
  }

  .logos {
    margin-right: 35rem;
    margin-bottom: 15rem;
  }


  .logos img {
    max-width: 80%;
  }

  
  .ftr-content {
    display: grid;
    grid: 10rem / auto auto auto;
    align-items: center;
    font-size: 1rem;
  }


  .lft {
    margin-bottom: 15rem;
  }

  .rt-ft {
    margin-bottom: 13rem;
  }
 

  
  .lft li a, .mid-ft li a, .rt-ft li a {
    border: none;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }


  .icons {
    margin-top: 2rem;
  }

  .icons a {
    margin: 2px;
    margin-top: 0.3rem;
  }


  .end {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 5rem;
  }

  .end div {
    margin: 3rem;
  }

  
  
  .nig p {
    font-size: 1.2rem;
  }

  .inpt {
    margin-top: 4rem;

  }


  footer form {
    display: flex;
  }
  
  

  footer input[type=email]{
    width: 100%;
    padding: 0.7rem;
    margin-top: 1rem;
  }



  .send button {
    padding: 0.7rem 0.8rem;
    margin-left: 0.1rem;
    margin-top: 1rem;
  }


  
}



@media only screen and (max-width: 768px), (max-width: 820px), (max-width: 1000px), (max-width: 1300px) {

  .header-content {
      display: none;
  }
  

 
 
  .header-content.show {
      display: flex;
      justify-content: center;
      background-color: #fff;
      padding: 1rem;
      position: absolute;
      top: 5.2rem;
      left: 0;
      right: 0;
      z-index: 1000;
      border-top: 0.1rem solid #666;

  }


  .menu-toggle {
      display: block;
      flex-direction: column;
      justify-content: space-around;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
  }

  .menu-toggle div {
    margin: 0.4rem;
  }

  .ham {
    display: flex;
    padding-top: 0.1rem;
    padding-right: 0.8rem;
    padding-bottom: 0.7rem;
    position: absolute;
      right: 1em;
      top: auto;
      bottom: auto;
      background-color: #EA6813;
  }
  
  

 
  .me {
    display: flex;
    padding: 0.1rem;
    
  }

 

  .menu .off {
    display: block;
    position: absolute;
      left: 0;
      top: 0;
  }
 
  .menu {
    display: flex;
    margin-bottom: 2.9rem;
}

  .menu .naija {
    margin-top: 2rem;
  }
  
  
 
  

  .navbar {
      padding: auto;
  }

  .nav-a{ 
   margin-left: auto;
   margin-right: auto;
  }
  
  .nav-a a {
    margin: 0.1rem;
    padding: 0.2rem;
    max-height: 20vh;
    margin: 2rem;
  }


  .navbar .logo img {
      display: none;
  }

 .navbar .logs {
      display: none;
      
}


  .dropbtn {
    float: none; 
    text-align: center;
  padding: 0.7rem 1.5rem;
  max-height: 20vh;

  }

  .dropdown-content {
    margin: 0;
    margin-top: 1rem; 
    left: 90%; 
    transform: translateX(-50%); 
    border: 0.1rem solid #333;

  }


  
}












  





  .dark-theme {
    background-color: #222;
  }

  .dark-theme .hjuy {
    background-color: #000;
    color: #fff;
  }

  .dark-theme .loit {
    background-color: #000;
    color: #fff;
  }

  .dark-theme .yrfuty {
    background-color: #000;
    color: #fff;
  }
  



  
.togg {
  position: fixed;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.1rem  1rem;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
  bottom: 5rem;
  left: 1rem;
}